#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 120px 10% 0;
    text-align: center;
}

.welcome {
    font-size: 1.1rem;
    font-weight: 600;
    color: #2e2e2e;
    background-color: #f1f2f4;
    border-radius: 100px;
    padding: 8px 16px;
}

.title {
    margin: 0;
    font-size: 4.5rem;
    font-weight: 600;
}

.title span {
    color: #8e64ab;
}

.description {
    width: 60%;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 32px;
    color: #6b6b78;
}

.buttons {
    display: flex;
    margin: 15px 0 30px;
    gap: 24px;
}

.start, .video {
    display: flex;
    gap: 8px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 25px;
    margin: 0 5px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    color: #f1f2f4;
    background-color: #2e2e2e;
    transition: all 300ms ease;
}

.start img {
    display: none;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2e2e2e;
    border: 1px solid #dfdede;
    background-color: #f1f2f4;
}

.start:hover {
    outline: 8px solid lightgray;
}

.start:hover img {
    display: flex;
}

.video:hover {
    border: 1px solid #2e2e2e;
    transform: scale(1.025);
}

.dashboard {
    margin: 15px 0 15px;
    border: solid #dfdede ;
    border-radius: 15px;
    box-shadow: 0 5px 5px #0000001a;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .title {
        font-size: 3rem;
    }

    .description {
        width: 70%;
        font-size: 1rem;
    }
    
    .buttons {
        flex-direction: column;
        gap: 12px;
    }

    .start, .video {
        font-size: 18px;
        padding: 12px 22px;
        border-radius: 12px;
    }
}

@media screen and (max-width: 600px) {
    #hero {
        padding: 100px 5% 0;
    }

    .welcome {
        font-size: 1rem;
    }

    .title {
        font-size: 2.35rem;
    }

    .description {
        width: 75%;
        font-size: 0.9rem;
    }
    
    .buttons {
        gap: 12px;
    }

    .start, .video {
        font-size: 17px;
        padding: 12px 15px;
    }
}