#desktop-nav {
    display: flex;
    position: fixed;
    background-color: #fef9f6;
    height: 75px;
    width: -webkit-fill-available;
    padding: 0 10%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfdede;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.05);
}

.nav-links {
    padding-left: 0;
    display: flex;
    list-style: none;
}

.nav-link {
    color: #6b6b78;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    margin: 0 1rem;
}

.nav-link:hover {
    color: #2e2e2e;
    text-decoration: underline;
}

.login-option {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    font-weight: 700;
    color: #2e2e2e;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #f1f2f4;
    margin: 0 5px;
    border: 1px solid #dfdede;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.signup {
    font-weight: 700;
    color: #f1f2f4;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #2e2e2e;
    margin: 0 5px;
    border: 1px solid #dfdede;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.login:hover {
    border: 1px solid #2e2e2e;
    transform: scale(1.05);
}

.signup:hover {
    color: #2e2e2e;
    background-color: #f1f2f4;
    border: 1px solid #2e2e2e;
    transform: scale(1.05);
}


#hamburger-nav {
    display: none;
    justify-content: space-between;
    height: 75px;
    padding: 0 10%;
    align-items: center;
    border-bottom: 1px solid #dfdede;
    position: relative;
}

.hamburger-menu {
    display: flex;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 24px;
    cursor: pointer;
    position: relative;
}

.hamburger-icon div {
    width: 100%;
    height: 2px;
    background-color: #2e2e2e;
    border-radius: 10px;
    transition: all 300ms ease-in-out;
}

.menu-links {
    list-style: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fef9f6;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all 300ms ease-in-out;
    overflow: hidden;
}

.menu-link {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #6b6b78;
    text-decoration: none;
}

.menu-links.open {
    opacity: 1;
    height: auto;
    width: 100%;
    top: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfdede;
}

.hamburger-icon.open div:first-child {
    transform: rotate(45deg) translate(9px, 4px);
}

.hamburger-icon.open div:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open div:last-child {
    transform: rotate(-45deg) translate(9px, -4px);
}

.hamburger-icon div:first-child {
    transform: none;
}

.hamburger-icon div:first-child {
    opacity: 1;
}

.hamburger-icon div:first-child {
    transform: none;
}

@media screen and (max-width: 900px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
        position: fixed;
        width: -webkit-fill-available;
        background-color: #fef9f6;
    }
}

@media screen and (max-width: 600px) {
    #hamburger-nav {
        padding: 0 5%;
    }
}